<nav class="navbar bg-body-tertiar">
        <div>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation" >
                <span class="navbar-toggler-icon"></span>
              </button>
            <a class="navbar-brand" routerLink="">
                <img src="../../../../assets/images/logo.png" alt="Logo" width="40" height="38" class="d-inline-block align-text-top">
                Colegio Nacional de Buenos Aires
              </a>
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" >
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
              <button type="button" class="btn-close btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
               <li class="nav-item"><a class="nav-link"  routerLink="/login" *ngIf="!usuarioActual">Iniciar sesión</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/register" *ngIf="!usuarioActual">Registrarse</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/users" *ngIf="usuarioAdmin">Usuarios</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/ver-inscripcion" *ngIf="usuarioAdmin">Inscripciones</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/parciales" *ngIf="usuarioEstudiante">Exámenes</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/inscripcion" *ngIf="usuarioEstudiante">Inscripciones</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/mis-inscripcion" *ngIf="usuarioEstudiante">Mis Inscripciones</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/materias" *ngIf="usuarioEstudiante">Materias</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/users" *ngIf="usuarioProfesor">Cursos</a></li>



              </ul>
            </div>
          </div>
        </div>
      <div class="ml-auto" *ngIf="usuarioActual">
        <button mat-button [matMenuTriggerFor]="menuUsuario">Bienvenido, {{ usuarioActual.nombre }} {{ usuarioActual.apellido }}</button>
        <mat-menu #menuUsuario="matMenu">
        <button mat-menu-item (click)="cerrarSesion()">Cerrar sesión</button>
        </mat-menu>
      </div>
    </nav>
    <hr>
    <router-outlet></router-outlet>


