<nav class="navbar">
        <div>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation" >
                <span class="navbar-toggler-icon"></span>
              </button>
            <a class="navbar-brand" routerLink="">
                <img src="../../../../assets/images/logo.png" alt="Logo" width="40" height="38" class="d-inline-block align-text-top">
                Colegio Nacional de Buenos Aires
              </a>
          <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel" >
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <mat-nav-list class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <a class="nav-link" routerLink="/login" mat-list-item>Iniciar sesión</a>
                <a routerLink="/register" mat-list-item>Registrarse</a>
                <a routerLink="/users" mat-list-item>Usuarios</a>
              </mat-nav-list>
            </div>
          </div>
        </div>
      <div class="ml-auto" *ngIf="usuarioActual">
        <button mat-button [matMenuTriggerFor]="menuUsuario">Bienvenido, {{ usuarioActual.nombre }} {{ usuarioActual.apellido }}</button>
        <mat-menu #menuUsuario="matMenu">
        <button mat-menu-item (click)="cerrarSesion()">Cerrar sesión</button>
        </mat-menu>
      </div>
    </nav>
    <hr>
    <router-outlet></router-outlet>


