<app-home-page></app-home-page>
<div class="container">
  <div class="card-container">
    <mat-card class="card" *ngFor="let news of noticias">
      <mat-card-header>
        <mat-card-title>{{ news.title }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ news.image }}" alt="{{ news.title }}">
      <mat-card-content>
        <p>{{ news.content }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Leer Más</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<app-footer></app-footer>
